<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
{{> header}}
<p>this is the content to be shown in the About file</p>


{{> footer}}

</body>
</html>